body{
    color: white;
}
.entete{
    position: fixed;
    background: linear-gradient(45deg, rgb(23, 135, 152), pink,rgb(23, 135, 152));
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.entete nav a{
    margin: 8px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
.bannier1{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 80vh;
    top: 0;
    left: 0;
    padding: 4px;
}
.bannier1 img{
    border-radius: 50%;
}
.bannier1 > div h1{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    margin: 0;
}
.tech-matriser{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
}
.profil{
    margin-left: 10px;
}