body {
    margin: 0;
    color: rgba(255, 255, 255);
}

.entete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(61, 58, 58);
}

.entete nav {
    margin-right: 21px;
}

.entete h2 {
    font-weight: bolder;
    margin-left: 18px;
    color: orangered;
}

.entete nav a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 14px;
}

.bannier {
    background-color: rgb(61, 58, 58);
    padding: 15px;
}

.profil {
    display: flex;
    justify-content: center;
    border: 3px solid;
    border-radius: 22px;
    column-gap: 20px;
    margin-top: 55px;
    align-items: center;
    height: 495px;
    background-color: rgba(0, 0, 0, 0.388);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.presentation {
    width: 56%;
}

.presentation h1 {
    text-align: center;
    font-size: 53px;
    margin: 1px;
}

.presentation h1 span {
    color: orangered;
}

.presentation p {
    text-align: center;
    font-family: "chiller";
    font-size: 20px;
    margin: 10px;
    color: rgb(255, 255, 255);
}

.btn-1 {
    display: block;
    width: 20%;
    margin: 3px auto;
    padding: 4px;
    text-align: center;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: orangered;
}

.maPhoto {
    width: 300px;
    height: 310px;
    border-radius: 50%;
    box-shadow: 0 0 433px 1px orangered;
}